<div id="main">
  <% @restaurant.each do |restaurant| %>
    <ul>
            <li>Restaurant: <%= restaurant.name %><br>
            Address: <%= restaurant.address %></li>
    </ul>
  <% end %>
</div>        
