<div id="main">
 Welcome to Wesleyan Restaurants, the best place to find about restaurants near the Wesleyan Campus, so you don't have to keep going to Usdan, and also so you don't have to remember the differences between Typhoon and Thai Gardens. 
</div>
