<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= @restaurant.name %></title>
		
	</head>

	<body id="main">
		<h1><%= @restaurant.name %></h1>
		<h2><%= @restaurant.address %></h2>
	</body>

</html>
